body {
	background-color: #ffffcc;
	background-image: url("../bodybg2.jpg");
}


h1 {
	text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
	font-family: "Impact";
	font-size: 5em;
}

h4 {
	color: #ffffff;
	font-family: "Impact";
	font-size: 2em;
	font-style: italic;
}

h3 {
	color: #ffffff;
	font-weight: bold;
}

p {
	color: #ffffff;
	font-family: "Verdana";
	font-weight: bold;
}
.common-head {
	/*background-image: url("../background.jpg");*/
}

.common-foot {
	/*background-image: url("../background.jpg");*/
}

.content {
	padding: 2em; 
	background: linear-gradient(rgba(0,0,0,0.5),
	 rgba(0,0,0,0.5));
}

.well {
	background-image: url("../bodybg2.jpg");
}
